:root{
    --blue: #060820;
    --lightblue: #0c9f9d;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.dark-mode{
    background-color: var(--blue);
    color: white;
}
.light-mode{
    background-color: rgb(193, 191, 191);
    color: black;
}
body{
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}
.tema{
    margin: 10px;
}
.logo{
    width: 50px;
}
.icon-cart{
    width: 30px;
    height: 30px;
    stroke: white;
}
.icon-cart:hover{
    cursor: pointer;
}
.container-icon{
    position: relative;
}
.count-products{
    position: absolute;
    top: 55%;
    right: 0;
    background-color: black;
    color: white;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
#contador-productos{
    font-size: 12px;
}
.container-cart-products{
    position: absolute;
    top: 50px;
    right: 0;
    background-color: black;
    color: white;
    width: 350px;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
}
.cart-product{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.20);
}
.info-cart-product{
    display: flex;
    justify-content: space-between;
    flex: 0.8;
}
.titulo-producto-carrito{
    font-size: 18px;
}
.precio-producto-carrito{
    font-weight: 600;
    font-size: 18px;
    margin-left: 10px;
}
.cantidad-producto-carrito{
    font-weight: 400;
    font-size: 18px;
}
.icon-close{
    width: 25px;
    height: 25px;
    z-index: 10;
}
.icon-close:hover{
    stroke: red;
    cursor: pointer;
}
.cart-total{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
}
.cart-total h3{
    font-size: 20px;
    font-weight: bold;
}
.cart-empty{
    text-align: center;
    padding: 20px;
}
.total-pagar{
    font-size: 20px;
    font-weight: bold;
}
.hidden-cart{
    display: none;
}
.hidden{
    display: none;
}
.pagar{
    margin-left: 150px;
    margin-bottom: 10px;
}
.navbar{
    display: flex;
    width: 100%;
    padding: 20px 10px;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    background-color: var(--blue);
    position: fixed;
}
.navbar .nombre{
    font-weight: bold;
}
.navbar li{
  display: flex;
  align-items: center;
  position: relative;
  margin: 0 5px ;
  flex-wrap: wrap;
}
.navbar li a{
    list-style: none;
    text-decoration: none;
    color: white;   
}
.navbar li a:hover{
    text-decoration: underline 4px var(--lightblue);
}
.navbar2{
    display: flex;
    width: 100%;
    padding: 20px 10px;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    background-color: rgb(65, 64, 64);
}
.navbar2 .nombre{
    font-weight: bold;
}
.navbar2 li{
  display: flex;
  align-items: center;
  position: relative;
  margin: 0 5px ;
  flex-wrap: wrap;
}
.navbar2 li a{
    list-style: none;
    text-decoration: none;
    color: white;
}
.navbar2 li a:hover{
    text-decoration: underline 4px var(--lightblue);
}
.header-content {
    background-image: url(../assets/img/megumi-y-toji-de-jujutsu-kaisen-11755.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 70vh;
    display: flex;
    align-items: center;
}
h1{
    font-weight: bold;
    font-size: 40px;
    padding-top: 20px;
}
.txt-p{
    margin-top: 20px;
    font-size: 1.5rem;
}

.container{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2px;
    margin: 0 auto;
    margin-bottom: 3px;
}
.titulo{
    text-align: center;
    font-weight: 500;
    font-size: 45px;
    color: var(--white);
    padding-bottom: 30px;
    text-decoration: underline var(--lightblue);
    margin: 0 auto;
}
.tema:hover{
    cursor: pointer;
}
.container-items{
    width: 100%;
}
.container-items h2{
    padding-top: 12px;
}
.container-items .fila{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    text-align: center;
}
.container-items .fila .item{
    width: 290px;
    padding: 10px;
    height: 425px;
    text-align: center;
    margin: 0 10px;
    border-radius: 5px;
    margin-bottom: 5px;
}
.container-items .fila .item:hover{
    box-shadow: 0 10px 20px rgba(255, 255, 255, 0.2);
}
.container-items .fila .item img{
    width: 100%;
    width: 190px;
    height: 280px;
    margin: 20px 0;
}
.container-items .fila .item .price{
    color: white;
    font-size: 15px;
    padding-top: 5px;
}
.container-items .fila .item .btn-add-cart{
    background-color: var(--lightblue);
    color: white;
    height: 25px;
    width: 100%;
    margin-top: 10px;
    cursor: pointer;
}
.cuenta {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 2rem;
}
.cuenta form {
    padding: 50px 55px;
    text-align: center;
    align-items: center;
    width: 340px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    margin-bottom: 20px;
    background-color: rgb(65, 64, 64);
}
.cuenta form h2 {
    font-size: 30px;
    color: var(--black);
    margin-bottom: 25px;
    text-align: center;
    font-weight: bold;
}
.cuenta form #nombre{
    color: black;
}
.cuenta form #email{
    color: black;
}
.cuenta form #password{
    color: black;
}
.cuenta form input, .cuenta form textarea {
    padding: 17px 25px;
    border-radius: 25px;
    margin-bottom: 20px;
    border: 2px solid var(--white);
    color: var(--black);
    outline: none;
}
.cuenta form .btn-dos {
    font-size: 16px;
    border: 0;
    border-radius: 25px;
    cursor: pointer;
    width: 95%;
    background-color: var(--lightblue)
}
.cuenta form .btn-dos:hover {
    color: var(--blue);
    background-color: rgb(46, 46, 216);
}
.cuenta form li {
    list-style: none;
}
.cuenta form ul li a{
    color: var(--lightblue);
}  
